<%- include("partials/header"); %>

<div class="landing_page">
  <div class="responsive-container-block big-container">
    <img class="bg-img" id="iq5bf" src="../../public/images/add_contract.jpg">
    <div class="responsive-container-block container">
      <div class="responsive-cell-block wk-desk-6 wk-ipadp-6 wk-tab-12 wk-mobile-12 left-one">
        <div class="content-box">
          <p class="text-blk section-head">
            Information to Contract
          </p>
          <p class="text-blk section-subhead">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis volupta
          </p>
          <div class="workik-contact-box">
              <div class="phone text-box">
              <img class="contact-svg" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/ET21.jpg">
              <p class="contact-text">
                (028) 898 89899
              </p>
              </div>
              <div class="mail text-box">
              <img class="contact-svg" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/ET22.jpg">
              <p class="contact-text">
                healthUS@gmail.com
              </p>
              </div>
              <div class="address text-box">
              <img class="contact-svg" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/ET23.jpg">
              <p class="contact-text">
                227 Nguyen Van Cu, Ward 04, District 05
              </p>
              </div>
          </div>
          <div class="icons-container" >
            <a class="share-icon" href="https://www.facebook.com/an.unu2309/">
              <img class="img" src="../../public/images/facebook-black.png"  >
            </a>
            <a class="share-icon" href="https://www.facebook.com/kreema1602">
              <img class="img" src="../../public/images/instagram-black.png" >
            </a>
            <a class="share-icon" href="https://www.facebook.com/tgthinh21">
              <img class="img" src="../../public/images/linkedin-black.png" >
            </a>
            <a class="share-icon" href="https://www.facebook.com/lacthieuquan">
              <img class="img" src="../../public/images/tiktok-black.png">
            </a>
            <a class="share-icon" href="https://www.facebook.com/lydangkhoa.fitus">
              <img class="img" src="../../public/images/youtube-black.png" >
            </a>
          </div>
        </div>
      </div>
      <div class="responsive-cell-block wk-ipadp-6 wk-tab-12 wk-mobile-12 wk-desk-6 right-one" id="i1zj">
        <form class="form-box" action="contract-us" method="post">
          <div class="container-block form-wrapper">
            <p class="text-blk contactus-head">
              <a class="link" href="">
              </a>
              CONTRACT WITH US
            </p>
            <p class="text-blk contactus-subhead">
              We will get back to you in 24 hours
            </p>
            <div class="responsive-container-block">
              <div class="responsive-cell-block wk-tab-12 wk-mobile-12 wk-desk-12 wk-ipadp-12" id="i10mt-7">
                <label class="form-label align-items-start d-flex">Fullname of Hospital *</label>
                <input class="input" id="hospitalName" name="hospitalName" placeholder="Hospital name">
              </div>
              <div class="responsive-cell-block wk-tab-12 wk-mobile-12 wk-desk-6 wk-ipadp-6 emial" id="ityct">
                <label class="form-label align-items-start d-flex">Email *</label>
                <input class="input" id="contractEmail" name="contractEmail" placeholder="Email">
              </div>
              <div class="responsive-cell-block wk-tab-12 wk-mobile-12 wk-desk-12 wk-ipadp-12" id="i634i-7">
                <label class="form-label align-items-start d-flex">Type message here</label>
                <textarea aria-placeholder="Type message here" class="textinput" id="content" placeholder="Type message here" name="content"></textarea>
              </div>
            </div>
            <button class="submit-btn">
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script src="../public/js/AddContract.js"></script>

<%- include("partials/footer"); %>