<%- include("partials/header"); %>
<!-- Big title with background  -->
<div class="masthead" style="background-color: gainsboro; height: 275px;"> 
  <div class="container-fluid">
    <div class="row welcome" style="margin-top: 60px;"></div>
      <div class="col-12">
        <h1 class="display-6" style="font-size: 50px; margin: top 15px; color: black; font-family: Nunito, sans-serif; line-height: 75px; font-weight: 800">FREQUENLY ASKED QUESTIONS</h1>
      </div>
      <div class="col-12>
                <p class="lead" style="font-size: 30px; color: rgb(0, 0, 0); font-family: Nunito, sans-serif;"> Answer quick questions to help you better understand our products and services. </p>
      </div>
      <img class="bg-img" src="../../public/images/add_contract.jpg" style="width: 100%; position: absolute; left: 0px; right: 0px; bottom: 0px; top: 0px; height: 100%; opacity: 0.5; object-fit: cover;">
    </div>
  </div>
</div>

<div class="container-fluid" style="width: auto; height: 500px; margin-left: 50px; margin-right: 20px">
  <div class="row no-gutters">
    <div class="col-6 col-md-4" style="width: 400px; height: 100px; margin-top: 25px">
      <div class="list-group" id="list-tab" role="tablist" style="font-size: 27px; font-weight: 800">
        <a class="list-group-item list-group-item-action active" id="list-faq" data-bs-toggle="list" role="tab" aria-controls="list-faq" >FAQs</a>
      </div>
      <ul class="nav flex-column" style="font-size: 25px; font-weight:bolder">
        <li class="active nav-item"><a class="nav-link active" data-bs-toggle="tab" href="#general">Vấn đề chung</a></li>
        <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#account">Vấn đề về tài khoản</a></li>
        <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#booking">Vấn đề về quy trình đặt khám</a></li>
        <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#payment">Vấn đề về thanh toán</a></li>
      </ul>
    </div>
    <div class="col-12 col-sm-6 col-md-8" style="width: 1025px">
      <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="tab-content">
          <div id="general" class="tab-pane fade show active">
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne" style="font-size: 21px; font-weight:normal">
                  Lợi ích khi sử dụng phần mềm đăng ký khám bệnh trực tuyến này là gì?
                </button>
              </h2>
              <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body" style="font-size: 18px">
                  <ul style="list-style-type: disc; text-align:justify">
                    <li>Đặt lịch khám bệnh theo hẹn, mọi lúc mọi nơi, mà không cần đến bệnh viện.</li>
                    <li>Không xếp hàng chờ đợi để lấy số tiếp nhận khám bệnh.</li>
                    <li>Giảm thời gian chờ khám tại bệnh viện.</li>
                    <li>Thanh toán trực tuyến từ xa, không sử dụng tiền mặt.</li>
                    <li>Nhận thông tin phiếu khám bệnh điện tử qua phần mềm.</li>
                    <li>Chủ động chọn lịch khám (ngày khám, khung giờ khám, bác sỹ khám).</li>
                    <li>Nhắc lịch tái khám, đặt lịch tái khám tự động.</li>
                    <li>Tra cứu kết quả khám chữa bệnh trực tuyến qua phần mềm.</li>
                    <li>Thanh toán viện phí, chi phí khám chữa bệnh trực tuyến, mọi lúc mọi nơi.</li>
                    <li>Dễ dàng tiếp cận và nhận các thông báo mới, thông tin từ bệnh viện.</li></ul>
                  </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingOne-1">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne-1" aria-expanded="false" aria-controls="flush-collapseOne-1" style="font-size: 21px; font-weight:normal">
                  Phần mềm có hỗ trợ đăng ký khám 24/7 không?
                </button>
              </h2>
              <div id="flush-collapseOne-1" class="accordion-collapse collapse" aria-labelledby="flush-headingOne-1" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body" style="font-size: 18px">
                  <ul style="list-style-type: disc; text-align:justify">
                    <li>Phần mềm cho phép bạn thực hiện việc đăng ký khám vào bất kỳ thời điểm nào trong ngày và bất cứ ngày nào trong tuần, đảm bảo bạn có thể sử dụng bất cứ lúc nào.</li>
                    <li>Phần mềm hỗ trợ việc đăng ký khám bệnh mọi lúc mọi nơi, mà không cần phải đến trực tiếp bệnh viện để thực hiện.</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingOne-2">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne-2" aria-expanded="false" aria-controls="flush-collapseOne-2" style="font-size: 21px; font-weight:normal">
                  Tôi có thể đặt khám cho người nhà tôi được không?
                </button>
              </h2>
              <div id="flush-collapseOne-2" class="accordion-collapse collapse" aria-labelledby="flush-headingOne-2" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body" style="font-size: 18px">
                  <ul style="list-style-type: disc; text-align:justify">
                    <li>Quý khách có thể tạo tối đa 10 hồ sơ bệnh nhân.</li>
                    <li>Quý khách đặt khám cho bệnh nhân nào thì chọn hồ sơ bệnh nhân đó.</li>
                    <li>Phần mềm và bệnh viện khuyến cáo, trừ trường hợp bất khả kháng, không nên đặt giúp cho người khác vì quy định an toàn bảo mật thông tin sức khỏe mỗi người.</li>
                  </ul>               
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo" style="font-size: 21px; font-weight:normal">
                  Đối tượng bệnh nhân nào có thể sử dụng qua phần mềm?
                </button>
              </h2>
              <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body" style="font-size: 18px">
                  <ul style="list-style-type: disc; text-align:justify">
                    <li>Tất cả người bệnh đều có thể sử dụng phần mềm để đăng ký khám bệnh trực tuyến,nếu đủ điều kiện tiếp cận và sử dụng phần mềm.</li>
                    <li>Phần mềm phù hợp cho những người bệnh có kế hoạch khám chữa bệnh chủ động, hoặc tình trạng bệnh KHÔNG quá khẩn cấp.</li>
                    <li>Trong trường hợp CẤP CỨU, người nhà nên đưa người bệnh đến cơ sở y tế gần nhất hoặc gọi số cấp cứu 115 để được hỗ trợ.</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingTwo-1">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo-1" aria-expanded="false" aria-controls="flush-collapseTwo-1" style="font-size: 21px; font-weight:normal">
                  Tôi đến bệnh viện trễ hơn so với giờ khám đã đăng ký, vậy tôi có được khám hay không?
                </button>
              </h2>
              <div id="flush-collapseTwo-1" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo-1" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body" style="font-size: 18px">
                  <ul style="list-style-type: disc; text-align:justify">
                    <li>Trường hợp bạn đến trễ so với giờ hẹn trên phiếu khám bệnh, bạn vẫn có thể đến bệnh viện để được thăm khám, nhưng mọi sự tiếp nhận và thời gian khám bệnh sẽ theo sự sắp xếp của bệnh viện, tùy vào tình hình thực tế tại bệnh viện và phòng khám lúc đó.</li></ul></div>
              </div>
            </div>
          </div>
          <div id="account" class="tab-pane fade">
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree" style="font-size: 21px; font-weight:normal">
                  "Mã số bệnh nhân là gì?", làm sao tôi có thể biết được mã số bệnh nhân của mình?
                </button>
              </h2>
              <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body" style="font-size: 18px">
                  <ul style="list-style-type: disc; text-align:justify">
                    <li>Mã số bệnh nhân là số hồ sơ mà bệnh viện dùng để quản lý thông tin của bạn trên hệ thống dữ liệu của bệnh viện.</li>
                    <li>Để biết được mã số bệnh nhân của mình, bạn có thể tham khảo gợi ý về cách tìm mã số bệnh nhân, và tìm thấy trong các loại giấy tờ như: toa thuốc, phiếu chỉ định cận lâm sàng, các biên lai thu tiền…</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingFour">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour" style="font-size: 21px; font-weight:normal">
                  Tôi quên mã số bệnh nhân của mình thì phải làm sao?
                </button>
              </h2>
              <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body" style="font-size: 18px">
                  <ul style="list-style-type: disc; text-align:justify">
                    <li>Để tìm lại mã số bệnh nhân, bạn có thể xem qua gợi ý về cách tìm lại mã số bệnh nhân, và tìm lại trong các loại giấy tờ khám chữa bệnh của mình.</li>
                    <li>Hoặc thực hiện theo các bước sau:
                      <ul style="list-style-type:circle"> 
                        <li>Bước 1: Mở tính năng "Tôi quên mã số bệnh nhân".</li>
                        <li>Bước 2: Nhập chính xác các thông tin yêu cầu.</li>
                        <li>Bước 3: Bấm "Xác nhận".</li>
                        <li>Bước 4: Chọn hồ sơ của mình trong danh sách kết quả.</li></ul>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingFour-1">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour-1" aria-expanded="false" aria-controls="flush-collapseFour-1" style="font-size: 21px; font-weight:normal">
                  Làm sao tôi biết bên mình đã có mã số bệnh nhân chưa?
                </button>
              </h2>
              <div id="flush-collapseFour-1" class="accordion-collapse collapse" aria-labelledby="flush-headingFour-1" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body" style="font-size: 18px">
                  <ul style="list-style-type: disc; text-align:justify">
                    <li>Nếu bạn đã từng thực hiện việc khám chữa bệnh tại bệnh viện, đồng nghĩa với việc bạn đã có “mã số bệnh nhân” trên hệ thống của bệnh viện.</li>
                    <li>Khi đó, hãy tìm lại mã số bệnh nhân của bạn trong các loại giấy tờ khám chữa bệnh, hoặc bạn có thể sử dụng tính năng “Tôi quên mã số bệnh nhân” để tìm lại mã số bệnh nhân của mình ngay trên phần mềm.</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div id="booking" class="tab-pane fade">
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingFive">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive" style="font-size: 21px; font-weight:normal">
                  Có thể đăng ký khám bệnh trong ngày bằng phần mềm không?
                </button>
              </h2>
              <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body" style="font-size: 18px">
                  <ul style="list-style-type: disc; text-align:justify">
                    <li>Hiện tại bệnh viện hỗ trợ cả đặt khám đăng ký trong ngày, cho phép đặt khám trước 30 phút.</li>
                    <li>Nhưng bạn không được huỷ phiếu khám trong ngày.</li> 
                  </ul>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingSix">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix" style="font-size: 21px; font-weight:normal">
                  Nếu bác sĩ thay đổi lịch khám, tôi phải làm sao?
                </button>
              </h2>
              <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body" style="font-size: 18px">
                  <ul style="list-style-type: disc; text-align:justify">
                    <li>Khi bác sĩ thay đổi lịch khám, phần mềm sẽ gửi thông báo cho bạn qua tin nhắn SMS, Email và trên ứng dụng.</li>
                    <li>Khi nhận được thông báo về sự thay đổi. Bạn có thể:
                      <ul style="list-style-type: circle">
                        <li>Hủy Phiếu Khám Bệnh để nhận lại tiền khám theo quy định hoàn tiền.</li>
                        <li>Vẫn giữ nguyên thông tin trên Phiếu Khám Bệnh, và điều này đồng nghĩa với việc bạn chấp nhận khám với bác sĩ thay thế mà bệnh viện đã sắp xếp.</li>
                        <li>Thay đổi thông tin khám trên phiếu khám bệnh, bằng cách:
                          <ul style="list-style-type: square"> 
                            <li>Bước 1: Đăng nhập phần mềm.</li>
                            <li>Bước 2: Chọn mục 'Thông Tin Tài Khoản'.</li>
                            <li>Bước 3: Chọn mục 'Quản lý phiếu khám bệnh'.</li>
                            <li>Bước 4: Chọn vào phiếu khám bệnh bị thay đổi lịch khám.</li>
                            <li>Bước 5: Bấm "Chỉnh sửa".</li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                    <li>Việc thay đổi thông tin trên phiếu khám bệnh phải được thực hiện theo Quy định chỉnh sửa thông tin trên phiếu khám bệnh.</li>
                  </ul></div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingSix-1">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix-1" aria-expanded="false" aria-controls="flush-collapseSix-1" style="font-size: 21px; font-weight:normal">
                  Khi đi khám bệnh, tôi có cần chuẩn bị gì không?
                </button>
              </h2>
              <div id="flush-collapseSix-1" class="accordion-collapse collapse" aria-labelledby="flush-headingSix-1" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body" style="font-size: 18px">
                  <ul style="list-style-type: disc; text-align:justify">
                  <li>Đối với Người bệnh có thẻ Bảo hiểm y tế:
                    <ul style="list-style-type: circle">
                      <li>Vui lòng mang thẻ BHYT và giấy tờ tuỳ thân, và đến cửa tiếp nhận số 1trước hẹn 15 phút để được hướng dẫn vào phòng khám.</li></ul>
                  </li>
                  <li>Đối với Người bệnh KHÔNG có thẻ Bảo hiểm y tế:
                    <ul style="list-style-type: circle">
                    <li>Bệnh nhân vui lòng đến trước giờ hẹn 15 phút, xuất trình phiếu khám bệnh điện tử và giấy tờ tùy thân để được hướng dẫn vào phòng khám bệnh.</li></ul>
                  </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div id="payment" class="tab-pane fade">
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingSeven">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseSeven" style="font-size: 21px; font-weight:normal">
                  Hoàn tiền như thế nào? Bao lâu thì tôi nhận lại được tiền hoàn?
                </button>
              </h2>
              <div id="flush-collapseSeven" class="accordion-collapse collapse" aria-labelledby="flush-headingSeven" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body" style="font-size: 18px">
                  <ul style="list-style-type: disc; text-align:justify">
                  <li>Khi bạn thực hiện việc thanh toán bằng phương thức nào, thì phần mềm sẽ hoàn tiền lại cho bạn bằng đúng phương thức và số tài khoản đã dùng để thanh toán đó.</li>
                  <li>Thời gian bạn nhận được tiền hoàn thông thường được quy định như sau:
                    <ul style="list-style-type: circle">
                      <li>Thẻ khám bệnh: 1 - 30 ngày làm việc.</li>
                      <li>Thẻ ATM nội địa: 1 - 30 ngày làm việc.</li>
                      <li>Thẻ tín dụng Visa, MasterCard: 1 - 45 ngày làm việc.</li></ul>
                  </li>
                  <li>Tính từ thời điểm bạn thực hiện Hủy Phiếu Khám Bệnh thành công, nếu quá thời gian trên bạn vẫn chưa nhận được tiền hoàn, vui lòng liên hệ tổng đài 1900 2115 chúng tôi sẽ hỗ trợ bạn.</li>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingEight">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseEight" aria-expanded="false" aria-controls="flush-collapseEight" style="font-size: 21px; font-weight:normal">
                  Điều kiện để được hoàn tiền là gì?
                </button>
              </h2>
              <div id="flush-collapseEight" class="accordion-collapse collapse" aria-labelledby="flush-headingEight" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body" style="font-size: 18px">
                  <ul style="list-style-type: disc; text-align:justify">
                    <li>Bạn chỉ được hoàn tiền khi thực hiện thành công yêu cầu Hủy Phiếu Khám Bệnh trên phần mềm theo theo quy định.</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingEight-1">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseEight-1" aria-expanded="false" aria-controls="flush-collapseEight-1" style="font-size: 21px; font-weight:normal">
                  Thông tin thanh toán của tôi có bị lộ khi tôi tiến hành thanh toán trên phần mềm không?
                </button>
              </h2>
              <div id="flush-collapseEight-1" class="accordion-collapse collapse" aria-labelledby="flush-headingEight-1" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body" style="font-size: 18px">
                  <ul style="list-style-type: disc; text-align:justify">
                    <li>Một số câu hỏi tương tự:
                      <ul style="list-style-type: circle">
                        <li>Điều kiện để được hoàn tiền là gì?</li>
                        <li>Hoàn tiền như thế nào? Bao lâu thì tôi nhận lại được tiền hoàn?</li>
                        <li>Tôi không có bất kỳ một thẻ khám bệnh hoặc thẻ ngân hàng nào để thanh toán, vậy tôi phải làm sao?</li>
                        <li>Thông tin thanh toán của tôi có bị lộ khi tôi tiến hành thanh toán trên phần mềm không?</li></ul>
                    </li>
                    <li>Trả lời : Không!</li>
                    <li>Phần mềm và bệnh viện hoàn toàn không thể sao lưu lại bất kỳ thông tin thanh toán nào của bạn.</li>
                    <li>Các thông tin của bạn được bảo mật tại cổng thanh toán và ngân hàng nhà nước Việt Nam.</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-5 col-md-7">
    <div class="card">
      <div class="card-body">
        <div class="container mt-4">
          <form class="row padding" style="text-align: left; font-size:20px; font-weight:800; max-width: 100%">
            <div class="col-6 col-md-12" style="font-size: 27px; font-weight: 800; text-align:center">
              DO YOU HAVE ANY QUESTIONS FOR US?
            </div>
            <div class="col-6 col-md-12">
              <label for="fullName" class="form-label">Fullname *</label>
              <input type="text" class="form-control" id="fullName" placeholder="Fullname" required >
            </div>
            <div class="col-6 col-md-12">
              <label for="emailInfo" class="form-label" >E-mail *</label>
              <input type="email" class="form-control" id="emailInfo" placeholder="Email" required>
            </div>
            <div class="col-6 col-md-12">
              <label for="phoneNumber" class="form-label" >Phonenumber</label>
              <input type="text" class="form-control" id="phoneNumber" placeholder="Phonenumber">
            </div>
            <div class="col-6 col-md-12">
              <label for="comments" class="form-label" >Questions</label>
              <textarea class="form-control" id="comments" rows="3" placeholder="Type question..." required></textarea>
            </div>
            <div class="col-6 col-md-12" style="text-align:center;">
              <button type="submit" class="btn btn-primary" style=" font-size: 21px; font-weight: bold; width: auto">Send</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="col-6 col-md-5" >
    <div class="card" style="max-width: 100%">
      <div class="card-body" >
        <h2 class="display-6" style="font-size: 27px; font-weight: bold; text-align:center">Contact Info</h2>
        <div class="container mt-10">
          <div class="row" >
            <div class="container-fluid" style="margin-left: 20px" >
              <div class="row">
                <div class="col-1 col-md-0" >
                  <div class="building-img" >
                    <img src="../../public/images/location.png" alt="building icon" style="width: 50px; height:50px">
                  </div>
                </div>
                <div class="col-0 col-md-10" style="margin-left: 10px">
                  <ul class="list-group-flush" style="text-align: left; list-style-type:disc">
                    <li>HealthUS - Hà Nội</li>
                    <li>334 Đ. Nguyễn Trãi, quận Thanh Xuân, Hà Nội</li>
                    <li>090 xxx xxxx</li>
                  </ul>
                </div>
                <div class="col-1 col-md-1" >
                  <div class="building-img">
                    <img src="../../public/images/location.png" alt="building icon" style="width: 50px; height:50px">
                  </div>
                </div>
                <div class="col-1 col-md-10" style="margin-left: 10px">
                  <ul class="list-group-flush" style="text-align: left; list-style-type:disc">
                    <li>HealthUS - Đà Nẵng</li>
                    <li>41 Đ. Lê Duẩn, quận Hải Châu, Tp. Đà Nẵng</li>
                    <li>090 xxx xxxx</li>
                  </ul>
                </div>
                <div class="col-1 col-md-1" >
                  <div class="building-img">
                    <img src="../../public/images/location.png" alt="building icon" style="width: 50px; height:50px">
                  </div>
                </div>
                <div class="col-0 col-md-10" style="margin-left: 10px">
                  <ul class="list-group-flush" style="text-align: left; list-style-type:disc">
                    <li>HealthUS - Hồ Chí Minh</li>
                    <li>227 Đ. Nguyễn Văn Cừ, quận 5, Tp.HCM</li>
                    <li>090 xxx xxxx</li>
                  </ul>
                </div>
                <div class="icons-container"  style=" max-width: 500px; display: flex; justify-content: space-evenly; color:gainsboro; margin-left: auto; margin-right:auto">
                  <a class="share-icon" href="https://www.facebook.com/an.unu2309/">
                    <img class="img" src="../../public/images/facebook.png"  style="width: 40px; height: 40px;">
                  </a>
                  <a class="share-icon" href="https://www.facebook.com/kreema1602">
                    <img class="img" src="../../public/images/instagram.png"  style="width: 40px; height: 40px;">
                  </a>
                  <a class="share-icon" href="https://www.facebook.com/tgthinh21">
                    <img class="img" src="../../public/images/linkedin.png"  style="width: 40px; height: 40px;">
                  </a>
                  <a class="share-icon" href="https://www.facebook.com/lacthieuquan">
                    <img class="img" src="../../public/images/tiktok.png"  style="width: 40px; height: 40px;">
                  </a>
                  <a class="share-icon" href="https://www.facebook.com/lydangkhoa.fitus">
                    <img class="img" src="../../public/images/youtube.png"  style="width: 40px; height: 40px;">
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="../public/js/FAQs.js"></script>
<%- include("partials/footer"); %>