<%- include("partials/hos_sidebar.ejs"); %>
<div class="container-list">
    <div class="title-and-create">
        <div class="title">
            <h2>List Appointment</h2>
        </div>
    </div>
    <div class="list-table">
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col"># Appointment</th>
                <th scope="col"># patient</th>
                <th scope="col"># Hospital</th>
                <th scope="col"># profile</th>
                <th scope="col"># doctor</th>
                <th scope="col">Specialist</th>
                <th scope="col">Date</th>
                <th scope="col">Time</th>
              </tr>
            </thead>
            <tbody class="list-doctor">
              
            </tbody>
          </table>
        <script type="text/javascript" src="../public/js/hos_appoint.js"></script>
    </div>
</div>
