<%- include("partials/header"); %>

<div class="preloader">
    <div></div>
    <div>Loading Content!</div>
</div>


<header class="showcase">
    <div class="container">
        <div class="text-content">
            <p class="hospitals-category">Hospitals</p>
            <h1>News about hospitals</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet
                temporibus nesciunt in aut facilis optio eum, et nisi obcaecati
                accusamus reprehenderit iste facere nobis, qui eaque totam,
                laboriosam sequi animi?
            </p>
            <a href="../views/OnlyNews.ejs" class="card">Read More</a>
        </div>
    </div>
</header>

<section>
    <div class="container">
        <h1 class="editor-h1">Editor Picks</h1>
        <div class="news">
            <a href="../views/OnlyNews.ejs" class="card">
                <img src="../../src/public/images/Logo-header.png" alt="" />
                <new>
                    <p class="hospitals-category">Hospitals</p>
                    <h1>Lorem ipsum dolor sit amet.</h1>
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi
                        nisi neque eum libero maiores voluptatem repudiandae quos
                        perspiciatis, reiciendis dolor!
                    </p>
                </new>
            </a>

            <a href="../views/OnlyNews.ejs" class="card">
                <new>
                    <p class="doctors-category">Doctors</p>
                    <h1>Lorem ipsum dolor sit amet.</h1>
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi
                        nisi neque eum libero maiores voluptatem repudiandae quos
                        perspiciatis, reiciendis dolor!
                    </p>
                </new>
            </a>

            <a href="../views/OnlyNews.ejs" class="card">
                <img src="../../src/public/images/Logo-header.png" alt="" />
                <new>
                    <p class="doctors-category">Doctors</p>
                    <h1>Lorem ipsum dolor sit amet.</h1>
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi
                        nisi neque eum libero maiores voluptatem repudiandae quos
                        perspiciatis, reiciendis dolor!
                    </p>
                </new>
            </a>

            <a href="../views/OnlyNews.ejs" class="card">
                <new>
                    <p class="doctors-category">Doctors</p>
                    <h1>Lorem ipsum dolor sit amet.</h1>
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi
                        nisi neque eum libero maiores voluptatem repudiandae quos
                        perspiciatis, reiciendis dolor!
                    </p>
                </new>
                <img src="../../src/public/images/Logo-header.png" alt="" />
            </a>

            <a href="../views/OnlyNews.ejs" class="card">
                <img src="../../src/public/images/Logo-header.png" alt="" />
                <new>
                    <p class="hospitals-category">Hospitals</p>
                    <h1>Lorem ipsum dolor sit amet.</h1>
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi
                        nisi neque eum libero maiores voluptatem repudiandae quos
                        perspiciatis, reiciendis dolor!
                    </p>
                </new>
            </a>

            <a href="../views/OnlyNews.ejs" class="card">
                <new>
                    <p class="doctors-category">Doctors</p>
                    <h1>Lorem ipsum dolor sit amet.</h1>
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi
                        nisi neque eum libero maiores voluptatem repudiandae quos
                        perspiciatis, reiciendis dolor!
                    </p>
                </new>
            </a>

            <a href="../views/OnlyNews.ejs" class="card">
                <new>
                    <p class="hospitals-category">Hospital</p>
                    <h1>Lorem ipsum dolor sit amet.</h1>
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi
                        nisi neque eum libero maiores voluptatem repudiandae quos
                        perspiciatis, reiciendis dolor!
                    </p>
                </new>
                <img src="../../src/public/images/Logo-header.png" alt="" />
            </a>
        </div>
    </div>
</section>

<script src="../public/js/NewsPage.js"></script>

<%- include("partials/footer"); %>