<%- include("partials/header"); %>

<!-- Big title with background  -->
<div class="masthead" style="background-image: url('../../public/images/partnership1.png');">
    <div class="color-overlay d-flex justify"></div>
    <div class="container-fluid padding">
        <div class="row welcome text-center">
            <div class="col-12">
                <h1 class="display-6">Cooperate with us</h1>
            </div>
            <div class="col-12>
                <p class="lead">HealthUS is delighted to cooperate with medical facilities and doctors to reach millions of patients on the HealthUS platform.</p>
                <p class="lead">Please send your information, we will contact you as soon as possible.</p>
            </div>
        </div>
    </div>
</div>

<!-- Form for registration  -->
<div class="container-fluid padding">
    <div class="row text-center padding">
        <div class="col-xs-24 col-sm-12 col-md-8">
            <div class="card">
                <div class="card-body">
                    <div class="container mt-20">
                        <form class="row g-3">
                            <div class="col-md-12">
                                <label for="fullName" class="form-label">Full Name</label>
                                <input type="text" class="form-control" id="fullName" required>
                            </div>
                                      <!-- <div class="col-md-6">
                                        <label for="lastName" class="form-label">Last Name</label>
                                        <input type="text" class="form-control" id="lastName" required>
                                      </div> -->
                                      <div class="col-md-12">
                                        <label for="emailInfo" class="form-label">E-mail</label>
                                        <input type="email" class="form-control" id="emailInfo" required>
                                      </div>
                                      <div class="col-md-12">
                                        <label for="phoneNumber" class="form-label">Phone Number</label>
                                        <input type="text" class="form-control" id="phoneNumber" placeholder="">
                                      </div>
                                      <div class="col-md-12">
                                        <label for="comments" class="form-label">Note</label>
                                        <textarea class="form-control" id="comments" rows="3" required></textarea>
                                      </div>
                                      <div class="col-md-12">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                      </div>
                                    </form>
                                </div>
                </div>
            </div>
        </div>
        <!-- contact info  -->
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="card">
                <div class="card-body">
                    <h2 class="display-6">Contact Info</h2>
                        <div class="container mt-20">
                                    <div class="row g-3">
                                        <div class="col-md-12">
                                            <div class="container-fluid padding">
                                                <div class="row padding">
                                                    <div class="col-xs-12 col-sm-6 col-md-4">
                                                        <div class="building-img">
                                                            <img src="../../public/images/building.svg" alt="building icon">
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-24 col-sm-12 col-md-8">
                                                        <ul class="list-group-flush">
                                                            <li class="list-group-item">HealthUS - Hanoi</li>
                                                            <li class="list-group-item">227 Nguyễn Văn Cừ Quận 1</li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-6 col-md-4">
                                                        <div class="building-img">
                                                            <img src="../../public/images/building.svg" alt="building icon">
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-24 col-sm-12 col-md-8">
                                                        <ul class="list-group-flush">
                                                            <li class="list-group-item">HealthUS - Danang</li>
                                                            <li class="list-group-item">227 Nguyễn Văn Cừ Quận 1</li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-6 col-md-4">
                                                        <div class="building-img">
                                                            <img src="../../public/images/building.svg" alt="building icon">
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-24 col-sm-12 col-md-8">
                                                        <ul class="list-group-flush">
                                                            <li class="list-group-item">HealthUS - HCMC</li>
                                                            <li class="list-group-item">227 Nguyễn Văn Cừ Quận 1</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                        </div>             
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script> -->
<!-- <div class="container-fluid">
    <div class="row jumbotron">
        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10">
            <p class="lead"></p>Lorem ipsum dolor sit amet.</p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2">
            <a href="#"><button type ="button" class = "btn btn-outline-secondary btn-lg">Partnership</button></a>
        </div>
    </div>     
</div> -->

<%- include("partials/footer"); %>