</body>
<footer class="container-fluid text-white mt-4">
    <div class="row text-center ">
        <div class="col-md-2">
            <img src="../../public/images/Logo-footer.png" alt="logo" class="img-fluid float-left" style="max-width:200px;">
        </div>
        <div class="col-md-4">
            <hr class="light">
            <h5 class="fw-bold">HealthUS - Healthcare appointment booking system</h3>
            <hr class="light">
            <ul class="list-uns text-start">
                <li>Address: 227 Nguyen Van Cu, Ward 04, Distric 05, Ho Chi Minh city</li>
                <li>Phone number: (028) 898 89899</li>
                <li>Email: healthUS@gmail.com</li>
            </ul>
        </div>
        <!-- <div class="col-md-0.5"> </div> -->
        <div class="col-md-2">
            <hr class="light">
            <h5 class="fw-bold">Support</h5>
            <hr class="light">
            <ul class="text-start">
                <li>
                    <a href="#" class="text-white footer-link">Hotline: 113</a>
                </li>
                <li>
                    <a href="#" class="text-white footer-link">Service</a>
                </li>
                <li>
                    <a href="#" class="text-white footer-link">Security </a>
                </li>
                <li>
                    <a href="#" class="text-white footer-link">Guildline</a>
                </li>
            </ul>
        </div>
        <!-- <div class="col-md-0.5"> </div> -->
        <div class="col-md-3 social">
            <hr class="light">
            <h5 class="fw-bold">Contact</h5>
            <hr class="light">
            <div class="mb-5 d-flex px-5 mt-3">
                <!-- <div class="row">
                    <div class="col-md"><a class="fb-ic" href="#" style="color: #fff;">
                        <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a></div>
                    <div class="col-md"><a class="tw-ic" href="#" style="color: #fff;">
                        <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a></div>
                </div>
                <div class="row">
                    <div class="col-md"><a class="gplus-ic" href="#" style="color: #fff;">
                        <i class="fab fa-google fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a></div>
                    <div class="col-md"><a class="li-ic" href="#" style="color: #fff;">
                        <i class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a></div>
                </div> -->

                <div class="row">
                    <div class="col-md-3"><a class="fb-ic" href="#" style="color: #fff;">
                        <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a></div>
                    <div class="col-md-3"><a class="tw-ic" href="#" style="color: #fff;">
                        <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a></div>
                    <div class="col-md-3"><a class="gplus-ic" href="#" style="color: #fff;">
                        <i class="fab fa-google fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a></div>
                    <div class="col-md-3"><a class="li-ic" href="#" style="color: #fff;">
                        <i class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a></div>
                </div>


              </div>
        </div>

        <div class="col-12" style="padding-top: 2px; padding-bottom: 2px;">
            <hr class="light">
            <h5>&copy; 2023, Tomatoes / VNU - HCMUS</h5>
        </div>
    </div>
</footer>

</html>